button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    font-family: $secondary-font;
    font-size: 1em;
    background-color: $lime-green;
    color: black;
    margin: 0;
    padding: .25em .5em;
    width: auto;
    height: auto;
    font-weight: 800;
    border-style: none;
    transition: $transition;
    
	&:hover {
	    
		background: $darkgray;
		color: white;
	}

	&:active,
	&:focus {
		border-color: black;
	}   
}

.button {
    @include button(white, white);
    display: inline-block;
    font-family: $secondary-font;
    background-color: transparent;
    margin: 1em;
    padding: .5em 1em;
    width: auto;
    height: auto;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .1em;
    border-radius: 2px; 

    p {
        font-family: $secondary-font;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: .1em;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /*padding: 6px 2px;*/
    }
    a {
        color: white;
        text-decoration: none;
        :hover, :active, :focus {
            color: $green !important;
            text-decoration: none;
        }
    }    
}

.button:hover, .button:active, .button:focus {
	color: $green;
	a {
	    color: $green;
	}
}

.comment-form {
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
    	&:hover {
    	    
    		background: black ;
    		color: white;
    	}       
    }
}

