input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    appearance: none;	
	color: $color__text-input;
	border: 2px solid $color__border-input;
	padding: 3px;
	border-radius: 2px;
	background: transparent;
	&:focus {
		color: $color__text-input-focus;
		/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($lime-green, 0.75);*/
  		outline: 0 none;
	}
}

select, select[multiple] {
    appearance: none;	
	font-weight: 800;
	background: white;
	color: $color__text-input;
	border: 2px solid $color__border-input;
	padding: 3px !important;
	border-radius: 2px !important;
	&:focus, &:active, &:focus-within {
		color: $color__text-input-focus;
		/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($lime-green, 0.75);*/
  		outline: 0 none;		
	}
}

textarea {
	width: 100%;
}

textarea#comment {
    border-style: none;
}

.wpcf7-form {
	label {
		width: 100%;
		margin-bottom: 1em;		
	}
	input, textarea {
		border: 0;
		padding: 10px;
		margin: .5em auto 0 auto;
		width: 100%;
		background: white;
	}
	input[type="submit"] {
		width: auto;
		display: block;
		padding: .25em .5em;
		margin: 0 auto;
		background-color: $lime-green !important;
		&:hover {
	    
			background: $darkgray !important;
			color: white !important;
		}
		
	}
	select[multiple], select, {
		border: 0;
		margin: .5em auto 0 auto;
		padding: 10px !important;
		width: 100%;
		color: $medgray;
		option:hover, option:active, option:focus, option:focus-within {
			background-color: $lightgray;
		}
		option:focus, option:focus-within {
			/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($lime-green, 0.75);*/
	  		outline: 0 none;				
		}
	}
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}