.comment-content {
	color: $medgray;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-form-comment {
	color: $medgray;
}

ol.comment-list {
	margin: 0 0 1em 0;
	padding: 0;
	li {
		margin: 0 0 1em 0;
		padding: 0;
	}
}

.comment-author {
	color: $green;
}