.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 ;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	padding: 1em;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    h1 {
    	font-size: 5em;
    	font-family: $accent-font;	
    	margin: 0;
    }
	@media ($screen-xs) {
		padding: .5em;
		font-size: .8em;
	}    
}

.arrow-down {
	position: relative;
	left: 50%;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid rgba(255, 255, 255, 0.5);
	@media ($screen-xs) {
		left: 47%;
	}
}

.projects {
	column-count: 1;
    column-gap: 1em;
    box-sizing: border-box;
    
    @media ($screen-gtxs) {
    	column-count: 3;
    }
	

	h3 {
    	text-align: center;
    	font-weight: 400;
    	text-transform: none;
    	letter-spacing: 0;
	}
	
	h4 {
		font-size: 1em;
    	text-align: center;
    	font-weight: 800;
    	text-transform: uppercase;
	}
	
	p {
		margin: 0;
	}
	
	article {
		display: inline-block;
    	margin: 0 0 1em;
   		width: 100%;
		padding: 1em;
		box-sizing: border-box;
	}
}

/* Caption Hoover Effects */
.projects figure {
	margin: 0;
	position: relative;
}

.projects figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.projects figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.projects figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.projects figcaption span:before {
	content: 'by ';
}

.projects figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

.projects figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .projects figure:hover img,
.projects figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.projects figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.projects figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}
