.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 ;
	a {
	  color: black;
	  font-weight: 800;
	  &:hover, &:active, &:focus {
	     color: $green !important;
	     transition: $transition !important;
	     text-decoration: none !important;
	  }
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content {
    z-index: 0;
    margin: 0;
    background: rgba(255, 255, 255, 1);
}

.entry-header {
    position: relative;
    width: 100%;
    min-height: 300px;
    z-index: 10;
		padding: 5em 1em;
	display: flex;
	align-items: center;
    justify-content: center;
    /*background: rgba(255, 255, 255, .85);*/
    color: black;
    text-align: center;
    h1 {
    	font-size: 7em;
    	font-family: $accent-font;	
    	text-transform: none;
    	margin: -32px 0 0;
    	@media ($screen-xs) {
    	  font-size: 6em;
    	}
    }
    /*::after {
        position: absolute;
        bottom: -15px;
    	left: 50%;
    	width: 0; 
    	height: 0; 
    	border-left: 15px solid transparent;
    	border-right: 15px solid transparent;
    	border-top: 15px solid rgba(255, 255, 255, .85);
    	@media ($screen-xs) {
    		left: 47%;
    	}
    }*/
	@media ($screen-xs) {
		font-size: .8em;
	}   
	
	@media ($screen-xxs) {
	  min-height: 200px;
	}
}

h2.entry-title {
    font-size: 2em;
}

.arrow-down {
    left: 0;
    right: 0;
    overflow: hidden;
    margin-top: 32px;
}

.arrow-down, .arrow-down:after, .arrow-down:before {
    content: "";
    position: absolute;
    height: 32px;
    bottom: 0;
}

.arrow-down:after, .arrow-down:before {
    left: -16px;
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
    transform: skew(45deg,0);
    z-index: 100;
}

.arrow-down:after {
    left: auto;
    right: -16px;
    transform: skew(-45deg,0);
}

.content {
    margin: 25px 0;
}

ul.post-categories {
  list-style-type: none !important;
  margin: 0 0 1em 0;
  padding: 0;
  li {
    margin: 0 !important;
    display: inline-block !important;
    a {
      background: $lime-green !important;
      padding: .25em .5em !important;
      &:hover {
  				transition: $transition !important;        
  				background: $darkgray !important;
  				color: white !important;
  			}
    }		
  }
  @media ($screen-xs) {
    margin: 1em 0;
  }
}

.comments-area {
  background: $darkgray;
  margin: 0;
}

.projects {
    box-sizing: border-box;
    
    @media ($screen-gtsm) {
      column-gap: 6px;      
    	column-count: 4;
    }
    @media ($screen-sm) {
      column-gap: 6px;   
    	column-count: 2;
    }    
	

	h3 {
    	text-align: center;
    	font-weight: 400;
    	text-transform: none;
    	letter-spacing: 0;
	}
	
	h4 {
		font-size: 1em;
    	text-align: center;
    	font-weight: 800;
    	text-transform: uppercase;
	}
	
	p {
		margin: 0;
	}
	
	article {
		display: inline-block;
    	margin: 0 6px;
   		width: 100%;
		padding: 0;
		box-sizing: border-box;
		@media ($screen-xxs) {
		  margin: 0;
		}
	}
}

.single-project {
    column-count: 1 !important;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 6px;
    }
    @media ($screen-gtsm) {
    	column-count: 1 !important;
    }
    @media ($screen-sm) {
    	column-count: 1 !important;
    } 
}

.project-excerpt {
  color: black;
  font-size: 1.4em;
  margin-top: 1em;
}

/* Caption Hoover Effects */
.screenshot {
	width: 100%;
	margin: 0;
	padding: 0;
  float: left;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img {
  	width: 100%;
  	height: auto;
  }
}

.screenshot > * { display: block; }

.screenshot-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  color: #ffffff;
  transition: all 0.5s ease-out;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: center;
	align-items: center;
	
	div {
		padding: 1em;
		background: rgba($darkgray, .3);
		width: 100%;
	}
  
  p {
  	display: block;
  	font-size: .8em;
  	font-family: $secondary-font;
  }
  
  h2 {
    color: $lime-green;
    font-size: 1.6em;
	margin-top: 0;
	display: block;
	text-align: center;
  }
  
  h3 {
  	display: block;
  }
  ul {
  	list-style: none;
  	text-align: center;
  	margin: 0 0 1em 0;
  	li {
  	  display: inline-block;
  	  margin: 0;
  	}
  }

  a {
    color: white;
    text-decoration: none;
    font-size: .8em;
  }
  
}

.screenshot-caption > * {
  transition: opacity 1s ease;
  opacity: 0;
}

.screenshot-caption_bottom {
  top: 100%;
  left: 0;
}

.screenshot:hover .screenshot-caption {
  top: 0;
  left: 0;
  transition: all 0.5s ease-out;
}

.screenshot:hover .screenshot-caption > * {
  transition: opacity 1s ease;
  opacity: 1;
 
}

.category-name {
  display: flex !important;
  justify-content: center;
  margin: 0 auto 1em auto !important;
  span {
    display: block;
    color: $medgray;
    background: rgba(255, 255, 255, .15);
    padding: .25em .5em;
  }
}

.filter {
  width: 100%;
  display: flex;
  .button {
    border: 2px solid black;
    font-size: .8em;
    
  }
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-previous, .nav-next {
  .button {
    height: auto;
    border: 2px solid black;
    font-size: .7em;
    color: black;
    padding: .25em .5em;
    margin: 1em 0 0 0;
    display: flex;
    align-items: center;
    a {
      color: black !important;
    }
    &:hover {
      transition: $transition;
      border: 2px solid $green;
      color: $green;
    }
  }
}

.nav-previous a{
	:before {
		content: '\f104';
	   font-family: FontAwesome;
	   font-weight: normal;
	   font-style: normal;
	   margin: 0 5px 0 0;
	   text-decoration:none;
	}
}

.nav-next a{
	:after {
		content: '\f105';
	   font-family: FontAwesome;
	   font-weight: normal;
	   font-style: normal;
	   margin: 0 0 0 5px;
	   text-decoration:none;
	}
}