.site-footer {
	background-color: rgba(0, 0, 0, 0.15);
	padding: 15px;
	z-index: 99;
	text-align: center;
	color: $lightgray;
	font-size: .8em;
	box-sizing: border-box;
	width: 100%;;
	flex-shrink: 0;
	a {
    font-family: $secondary-font;
    color: white !important;
    text-decoration: none;
    transition: .5s background-color;
	    &:hover {
	    	color:$green !important;
	    }
 	}
 	p {
 	    margin: 0;
 	}
}