#wpadminbar {
	position: fixed !important;
}

.content-area {
    margin-top: 62px;
}

#body_bg {
	overflow-x: hidden !important;	
	background: url(img/bg3.png) 50% repeat fixed, linear-gradient(134deg, $lime-green, $cyan, $purple, $pink, $orange) repeat ;
	background-size: 600px auto ,1000% auto ;
	animation: bg-grad 90s infinite alternate linear;
 	@media ($screen-xs) {
 		background: url(img/bg3.png) 50% repeat initial, linear-gradient(134deg, $lime-green, $cyan, $purple, $pink, $orange) repeat;
		background-size: 400px auto , 2000% auto ;
	} 
}
@keyframes bg-grad {
	to {
		background-position: center, right;
	}
}


.site {
    overflow-x: hidden !important;
}

.services {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 50px 25px 100px 25px;
	
}

.services-box {
	margin: 0;
	background: white;
	padding: 60px 15px 15px 15px;
	box-sizing: border-box;
	text-align: center;
	/*border-radius: 5px;*/
	height: 225px;
	@media ($screen-sm) {
		margin: 15px auto;
	}
	@media ($screen-xs) {
		margin: 15px auto;
	}
}

.services-box h3 {
	color: black;
	font-family: $accent-font;
	font-size: 1.8em;
	text-transform: none;
	letter-spacing: 0;
	background: $orange;
	background: rgba($orange, .9);
	/*border-radius: 0 0 5px 5px;*/
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
	position: absolute;
	top: -10px;
}

/*.identity {
	background: url(../img/knot_fade_away_thumb.svg) no-repeat center;
	background-size: 250px auto;
}

.marketing {
	background: url(../img/wine_labels_2015_cabernet.svg) no-repeat center;
	background-size: 250px auto;
}

.invitations {
	background: url(../img/penny_1st_bday.jpg) no-repeat center;
	background-size: 350px auto;
}*/

.services-hover-box {
	opacity: 0;
	height: 225px;
	background: rgba(250,250,250,.92);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	/*border-radius: 5px;*/
	text-align: center;
	color: $pink;
	margin: 0 15px;
	padding: 50px 15px 15px 15px;
	box-sizing: border-box;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height: 1.6em;
	font-size: 1.2em;
	transition: $transition;
	cursor: pointer;
	@media ($screen-sm) {
		margin: 0 15px;
	}
	@media ($screen-xs) {
		margin: 0 15px;
	}
}

.services-hover-box:hover {
	opacity: 1;
	transition: $transition;
}

.hideme {
    opacity: 0;
}

.fadein500, .fadein600, .fadein700 {
	opacity: 0;
}

.no-margins {
	margin: 0;
}


.no-overflow {
	display: block !important;
	height: 100vh !important;
	overflow: hidden !important;
}