ul, ol {
	margin: 0 0 1.5em 1em;
	li {
		margin-bottom: .75em;
	}
}

ul {
	list-style: disc;
	li > ul {
		list-style: circle;
	}
}

ol {
	list-style: decimal;
	li > ol {
		list-style: lower-alpha;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1em;
}
