$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #626262;
$color__text-input-focus: #78A22F;
$color__link: white;
$color__link-visited: white;
$color__link-hover: #78A22F;
$color__text-main: #626262;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


$yellow:        #FCEE21;
$lime-green:    #D9E021;
$green:         #78A22F;
$teal:          #00B0B0;
$mutedteal:     #75b691;
$purple:        #93278F;
$pink:          #D4145A;
$mauve:         #946a6c;
$orange:        #de9a18;
$gray:          #626262;
$darkgray:      #626262;
$medgray:       #9a9a9a;
$lightgray:     #e3e3e3;
$silver:        #495E67;